body {
  background-color: #f3d9fa;
  font-size: 18px;
}
.App-header {
  text-align: center;
  font-size: 2em;
  padding-top: 2rem;
}

.Container {
  padding: 1em;
  max-width: 995px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.Column {
  padding: 10px;
  
}

table {
  width: 100%;
}

table tr td {
  padding: 10px 15px;
}
table tr:nth-child(odd) {
  background-color: #da77f2;
}

table tr:nth-child(even) {
  background-color: #eebefa;
}

@media(min-width: 48em){  
  .Row {
    display: flex;
  }
  .Column {
    flex: 1;
  }
}

ul {
  list-style-type: none;  
}

li {
  display: inline;
  padding: 10px 30px;
  margin-right: 20px; 
  background-color: #862e9c;
}

a {
  text-decoration: none;
}

a.button {
  color: #fff;  
}
button {
  background-color: #862e9c;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1em;
}
