.App-header {
  text-align: center;
  font-size: 2em;
  padding-top: 2rem;
}

.Container {
  padding: 1em;
  max-width: 995px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.Column {
  padding: 10px;
  
}

table {
  width: 100%;
}

table tr td {
  padding: 10px 15px;
}
table tr:nth-child(odd) {
  background-color: #da77f2;
}

table tr:nth-child(even) {
  background-color: #eebefa;
}

@media(min-width: 48em){  
  .Row {
    display: flex;
  }
  .Column {
    flex: 1;
  }
}

ul {
  /*list-style-type: none;  */
}

li {
/*  display: inline;
  padding: 10px 30px;
  margin-right: 20px; 
  background-color: #862e9c;*/
}

a {
  text-decoration: none;
}

a.button {
  color: #fff;
  padding: 10px 30px;
  background-color: #862e9c;
  margin-right: 20px; 
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  background-color: #862e9c;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 20px;
  width: 100%;
}

@media(min-width: 48em){  
  button {
    width: auto;
    padding: 10px 100px;
  }
}

.bottom-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-center {
  text-align: center;
}