.App-header {
  text-align: center;
  font-size: 2em;
  padding-top: 2rem;
}

.Container {
  padding: 1em;
  max-width: 995px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

@media(min-width: 48em){  
  .Row {
    display: flex;
  }
  .Column {
    flex: 1;
  }
}
